@import '/src/index.scss';

$className: zd-product-page;

.#{$className} {
  padding-top: 24px;
}

.#{$className}-img-wrapper {
  overflow: hidden;

  > img {
    transition: 0.2s;
    object-fit: cover;

    width: 100%;
    height: 100%;
  }
}

.#{$className}-color {
  padding: 16px 0;
}

.#{$className}-price {
  font-size: 20px;
}

.#{$className}-gender {
  color: $extraInfoColor;
  font-size: 14px;
  text-transform: capitalize;
}

.#{$className}-flex-wrapper {
  > div {
    flex: 1;
  }

  @media screen and (max-width: $breakpointMobile) {
    flex-direction: column;
  }
}

.#{$className}-info {
  padding-left: 24px;
  padding-top: 24px;

  @media screen and (max-width: $breakpointMobile) {
    padding-left: 0;
  }
}

// REFACTOR THIS
.discounted-price {
  margin-left: 8px;
  font-size: 14px;
  color: $discountColor;
  text-decoration: line-through;
}
