@import '/src/utils/styles/colors.scss';
@import '/src/utils/styles/breakpoints.scss';

$className: zd-product-page;

.#{$className} {
  padding-top: 24px;
}

.#{$className}-img-wrapper {
  overflow: hidden;

  > img {
    transition: 0.2s;
    object-fit: cover;
    border-radius: 20px;

    width: 100%;
  }
}

.#{$className}-color {
  padding: 16px 0;
}

.#{$className}-price {
  font-size: 20px;
}

.#{$className}-gender {
  color: $extraInfoColor;
  font-size: 14px;
  text-transform: capitalize;
}

.#{$className}-flex-wrapper {
  > div {
    flex: 1;
  }

  @media screen and (max-width: $breakpointMobileLarge) {
    flex-direction: column;
  }
}

.#{$className}-info {
  padding-left: 24px;

  .#{$className}-info-section {
    padding-top: 24px;

    .#{$className}-info-section-description {
      padding-top: 12px;
    }
  }

  @media screen and (max-width: $breakpointMobileLarge) {
    padding-left: 0;
  }
}

.#{$className}-call-to-action {
  padding: 12px 0;

  > button:not(:first-child) {
    margin-left: 12px;
  }
}
