@import '/src/utils/styles/colors.scss';

.zd-button {
  min-width: 132px;
  height: 43px;
  background: $buttonBackground;
  border-radius: 4px;
  color: $primaryColor;
  font-family: 'Rocgrotesk';
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid $primaryColor;

  &:hover {
    background: $buttonBackgroundHover;
  }

  &:active {
    transition: 0s;
    background: $buttonBackgroundActive;
  }

  &.primary {
    color: $buttonBackground;
    background: $primaryColor;

    &:hover {
      background: $linkColorHover;
      border-color: $linkColorHover;
    }

    &:active {
      background: $linkColorActive;
      border-color: $linkColorActive;
    }
  }
}
