@import '/src/index.scss';

.zd-button {
  min-width: 132px;
  height: 43px;
  background: $buttonBackground;
  border-radius: 4px;
  border: none;
  color: $primaryColor;
  font-family: 'Rocgrotesk';
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: $buttonBackgroundHover;
  }

  &:active {
    transition: 0s;
    background: $buttonBackgroundActive;
  }
}
