// Colors

$white: #fff;
$linen: #faf0e6;
$whispPink: #fef2f4;
$titanWhite: #e4e3ff;
$periwinkleGrey: #bdbce2;
$trout: #525761;
$newYorkPink: #dd7d7d;
$red: #dd4f4f;
$ultramarine: #140ca3;
$lunkyPoint: #130e77;
$portGore: #03022c;

// End colors

// Theme

$buttonBackground: $white;
$buttonBackgroundHover: $titanWhite;
$buttonBackgroundActive: $periwinkleGrey;
$primaryColor: $ultramarine;
$heroBackground: $white;
$discountColor: $newYorkPink;
$extraInfoColor: $trout;
$linkColor: $ultramarine;
$linkColorHover: $lunkyPoint;
$linkColorActive: $portGore;
$globalHeader: $lunkyPoint;
$errorText: $red;
$productBorderColor: $linen;

// End Theme
