@import '/src/index.scss';

$circleWidth: 890px;
$circleHeight: 840px;

.zd-hero {
  background: $primaryColor;
  width: 100%;
  color: $heroBackground;
  padding: 155px;
  height: 500px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  > .decorative-circle {
    position: absolute;
    top: 10%;
    width: $circleWidth;
    height: $circleHeight;
    border-radius: 50%;
    background: $whispPink;
    left: 55%;
  }

  > img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media screen and (max-width: $breakpointTablet) {
    padding: 0;

    > .decorative-circle {
      width: $circleWidth * 0.8;
      height: $circleHeight * 0.8;
      top: 25%;
    }
    > img {
      height: 80%;
    }
  }

  @media screen and (max-width: $breakpointMobileLarge) {
    height: 400px;

    > .decorative-circle,
    > img {
      display: none;
    }
  }
}
