// Colors

$white: #fff;
$titanWhite: #e4e3ff;
$periwinkleGrey: #bdbce2;
$ultramarine: #140ca3;
$lunkyPoint: #130e77;
$portGore: #03022c;
$whispPink: #fef2f4;
$newYorkPink: #dd7d7d;
$trout: #525761;

// End colors

// Theme

$buttonBackground: $white;
$buttonBackgroundHover: $titanWhite;
$buttonBackgroundActive: $periwinkleGrey;
$primaryColor: $ultramarine;
$heroBackground: $white;
$discountColor: $newYorkPink;
$extraInfoColor: $trout;
$linkColor: $ultramarine;
$linkColorHover: $lunkyPoint;
$linkColorActive: $portGore;

// End Theme
