@import '/src/index.scss';

$product-width: 264px;
$class-name: zd-product;

.#{$class-name} {
  min-width: $product-width;

  .#{$class-name}-inner {
    cursor: pointer;

    .#{$class-name}-img-wrapper {
      height: 400px;
      overflow: hidden;
      border-radius: 20px;
      margin-bottom: 22px;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.2s;
        object-fit: cover;

        width: 100%;
        height: 100%;
      }
    }

    .#{$class-name}-name {
      font-size: 16px;
      font-weight: 600;
      line-height: 130%;
      margin: 0;
    }

    .#{$class-name}-retail-url {
      font-weight: 500;
      color: $linkColor;
      font-size: 15px;
    }

    .#{$class-name}-price {
      font-weight: 600;

      .discounted-price {
        margin-left: 8px;
        font-size: 14px;
        color: $discountColor;
        text-decoration: line-through;
      }
    }

    .#{$class-name}-payment-plan {
      font-size: 12px;
      color: $extraInfoColor;
    }
  }

  &:hover {
    .#{$class-name}-img-wrapper > img {
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
    }
  }
}
