@import '/src/utils/styles/breakpoints.scss';
@import '/src/utils/styles/colors.scss';

.zd-home-page-content {
  @media screen and (max-width: $breakpointMobile) {
    h1 {
      font-size: 44px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

.zd-cat-header {
  margin-top: 24px;
}

.zd-modal-product {
  .zd-modal-close-button {
    font-size: 12px;
    cursor: pointer;
    color: $extraInfoColor;
  }
}
